footer{
    position:fixed;
    bottom:0;
    width:100%;
}
.div_list{
    text-align: center;
    background-color: #538397;
    color: white;
    border-top: solid 1px #538397;
    padding: 32px;
    padding-bottom: 16px;
    padding-top: 5px;
}
footer ul{
    list-style: none;
}
footer li a {
    color: white;
}