.list_blue_card{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.blue_card{
    background-color: #105572;
    padding: 30px;
    margin: auto;
    color: white;
}
.white_card{
    background-color: white;
    padding: 30px;
    margin: auto;
    color: #105572;
}